header{
  text-align: center;
  font-family: Arial,'arial unicode ms',sans-serif;
}

button{
  background: #ff9933;
  background: linear-gradient(#ff9933 0%, #ffcc99 100%);
  width: 200px;
  height: 60px;
  margin-top: 80px;
  text-align: center;
  text-shadow:0 -1px 0 rgba(34,85,136,0.9);
  box-shadow: inset 1px 1px 3px #d9ff66;
  border-radius: 20px 20px 20px 20px ;
}

div{
  text-align: center;
}
